@charset "utf-8";
/* CSS Document */

body {
    background-image:url(../figuras/fundoSobreTopo.png);
    background-repeat:repeat-x;
    background-color:#e0e0e0;
    font-family:Arial, Helvetica, sans-serif;
    color:#22375d;
    font-size:14px;  
}

#tudo {
    background-image:url(../figuras/menu/fundoMenu.png);
    background-repeat:repeat-y;
    position:relative;
    margin:10px 0px 5px 0px;
    background-color:#FFF;
}

.clr {
    clear: both;
}

a {
    color:#22375d;
    text-decoration: underline;
    cursor: pointer;    
}
a:hover{
    color:#555d6b;
}

table {
    border: 1px solid #22375d;
    border-collapse: collapse;
    background-color:#e1e2ea;
    width: 100%;
    text-align: center;
}

td table td {
    border: 0px;
    border-collapse: collapse;
}

td table {
    border: 0px;
}

.tableFinal td{
    border: 0px;
}

caption{
    border: 0px solid none;
    font-weight:bold;
    padding: 15px;
    font-size: 16px;
    background-color: #fff;
    text-align: left;
}

th{
    background-color: #22375d;
    border: 1px solid #8996ac;
    padding: 15px;
    color: #e1e2ea;
}
th a{
    color: #e1e2ea;    
}

th a:hover{
    color: #fff;
}

td{
    border: 1px solid #22375d;
    padding: 5px;
}

.infoMessage, .errorMessage
{
    padding: 0;
    color: red;
    list-style: none;
    font-size: 0.8em;
}

.infoSize
{
    width: 10px;
}

.tableFinal{
    border: 0px;
    background-color: #FFF;
}

.submit {
    background-color: #fff;
    border: 2px solid #22375D;
    color: #22375D;
    cursor: pointer;
    font-weight: bold;
    height: 26px;
    padding: 0 5px;
    vertical-align: middle;
}


.submit:hover{
    background-color: #9EADC7;
    border: 2px solid #22375D;
    color: #22375D;
    cursor: pointer;
    font-weight: bold;
    height: 26px;
    padding: 0 5px;
    vertical-align: middle;
}

.tdFormat
{
    border-right: 1px solid #22375d;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 0px;
    text-align: left;
}

.tdInput{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 20px;
    border: 0px;
}

.tdInput input, .tdInput select /*formatacao dos inputs, selects*/
{
    text-align: left;
    width: 195px;
}

.tdERRMsg
{
    height: 20px;
    padding: 0px 0px 0px 20px;
    vertical-align: middle;
    border: 0px;
    text-align: left;
}

#tableCenter
{
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

/*-----TOPO-----*/

#topo {
    background-image:url(../figuras/fundoTopo.png);
    background-repeat:repeat-y;
    background-color:#9eadc7;
    padding: 0px;
    height:115px;
    position:relative;
}

#barraTopo {
    height:7px;
    background-image:url(../figuras/barraTopo.png);
    background-position:center;
    background-repeat:repeat-y;
    background-color:#bfc6d3;

}

#logo{
    background-image:url(../figuras/logo.png);
    background-repeat:no-repeat;
    background-position: center;
    position:absolute;
    margin:0px;
    padding:0px;
    top: 10px;
    left: 45px;
    width:127px;
    height:89px;
}

#logo ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width:127px;
    height:89px;
}

#logo li{
    float: left;
    margin: 0px;  
    padding: 0px;
    border: 0px;
}

#logo a{
    width:127px;
    height:89px;  
    border: 0 none;
    display: block;
}

#figuraTopo{
    background-image:url(../figuras/figuraTopo.png);
    background-repeat:no-repeat;
    position:absolute;
    margin:-5px 0px 0px 0px;
    width:361px;
    height:120px;
    right:0px;
    top:0px;
}

#info_unreachable a {
    color: red;
    text-decoration: none;
}

#info_unreachable img {
    visibility: hidden;
    margin-left: 8px;
    vertical-align: middle;
}

#table_unreachable {
    float: right;
    margin-bottom: 15px;
}

/*------END TOPO------------*/

/*----------CONTEUDO----------*/

#coluna_dir {
    margin-left: 100px; 
    height:100%;
    padding: 0px;
    background-color:#FFF;
}

#coluna_central { /*usado em paginas sem menu*/
    margin-left: 0px; 
    height:100%;
    padding: 0px;
    background-color:#FFF;
}

#titulo{
    background-color:#d9dbe0;
    height:15px;
    font-size:16px;
    padding:15px 0px 15px 20px;
    background-image:url(../figuras/fundoTopoConteudo.png);
    background-repeat:repeat-y;
    font-weight: bold;
}

.tituloRel{
    background-color:#d9dbe0;
    height:15px;
    font-size:16px;
    padding:15px 0px 15px 20px;
    background-image:url(../figuras/fundoTopoConteudo.png);
    background-repeat:repeat-y;
    font-weight: bold;
}

#logout {
    float: right;
    margin-right: 10px;
    text-decoration: none;
}

#conteudo {
    padding:15px 10px 15px 5px;
    text-align: center;
    line-height: 25px;
    padding-bottom: 40px;
}

#conteudo h4 {
    text-align: left;
}

.conteudo{
    padding:15px 10px 15px 5px;
    text-align: center;
}

.barraConteudo {
    background-color:#8996d3;
    background-image:url(../figuras/barraConteudo.png);
    background-repeat:repeat-y;
    height:3px;
}

.resultRelGen {
    height:15px;
    font-size:16px;
    padding:15px 0px 15px 20px;
    background-repeat:repeat-y;
    font-weight: bold;
}

#search {
    text-align: left;
    margin-bottom: 20px;
}

#search #tableSearch {
    border: 0px solid #FFF;
    background-color:#ffcc99;
    text-align: left;
    width:100%;    
}

#search #tableSearch td {
    vertical-align: top;
}

#tabRelatorioConsulta {
    margin-bottom: 20px;
    width: 100%;
}

#divRelatorioConsulta {
    width:auto;
    position:relative;
}

#erroGraph, #erroGraphMonth, #erroTable {
    font-weight: bold;
    text-align: left;
    float: left;
    color: red;
    font-size: 11px;   
}

#whatIsNumAccess, #whatIsNumUsers {
    text-decoration: none;
    font-size:16px;
    margin-left: 8px;
    font-weight: bold;
    border: 0px none;
    border-width:0;
}

#whatIsNumAccess img, #whatIsNumUsers img {
    border-width:0;
}

#erroTable {
    margin-bottom: 10px;
}

#graph {
    width:100%;
    height:100%;
    margin-bottom: 15px;
}

#secondGraph {
    width:100%;
    height:100%;
    margin-bottom: 15px;
}

#file {
    float: left;
    visibility: hidden;
}

#infoRelGen {
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: left;
}

#divErroData, #divErroIntervaloDatas {
    font-size: 9px;
    color: red;
    position: relative;
    margin-top: -7px;
    margin-bottom: -6px;
    vertical-align: bottom;
}

#tableSearch #infoChoiceAP {
    font-size: 9px;
    color: #555d6b;
    position: relative;
    margin-top: -7px;
    margin-bottom: -6px;
    vertical-align: bottom;
}

.subtitulo_sobre {
    font-size: 18px;
}

.subtitulo_motivacao .subtitulo_equipe {
    margin-top: 30px;
}

#equipe {
    text-align: left
}

#bttVoltar {
    margin-top: 30px;
}

/*-----END CONTEUDO------*/

/*---------MENU-----------*/

#coluna_esq{
    float:left;
    width:100px;
    height: 100%;
    margin:0px;
    border:0px;
    padding:0px;
}

#menuTopo {
    height:15px;
    padding:15px 0px 15px 26px;
    font-size:16px;
    color:#FFF;
    margin:0px;
    border:0px;
}

.barraMenu {
    background-color:#FFF;
    height:3px;
    margin:0px;
    border:0px;
    padding:0px;
}

#menu{
    position:relative;
    margin:0px;
    border:0px;
    padding:0px;
    width: 50px !important;
}

#menu ul {
    list-style: none;
    margin:0px;
    border:0px;
    padding:13px 0px 13px 10px;
    z-index: 1;
}

#menu ul li {
    height:80px;
    width:80px;
    margin:0px 0px 10px 0px;
    border:0px;
    padding:0px;
}

#menu ul li a{
    margin:0px;
    border:0px;
    padding:0px;
    display:block;
    height:80px;
    width:80px;
}

#menu ul .APs ul{
    display:none;
    width:300px;
    margin:0px;
    border:0px;
    padding:0px;
}

#menu ul .APs:hover ul {
    display:block;
    position:absolute;
    top:-10px;
    left:77px;
    background-color:transparent;
    background-image:url(../figuras/menu/fundoSubMenu.png);
    background-repeat:repeat-y;
    margin:15px 0px 0px 10px;
    border:0px;
    padding:8px 0px 8px 10px;
}

#menu ul .regioes ul{
    display:none;
    width:220px;
    margin:0px;
    border:0px;
    padding:0px;
}

#menu ul .regioes:hover ul {
    display:block;
    position:absolute;
    top:80px;
    left:77px;
    background-color:transparent;
    background-image:url(../figuras/menu/fundoSubMenuRegioes.png);
    background-repeat:repeat-y;
    margin:15px 0px 0px 10px;
    border:0px;
    padding:8px 0px 8px 10px;
}

#menu ul .relatorio ul{
    display:none;
    width:220px;
    margin:0px;
    border:0px;
    padding:0px;
}

#menu ul .relatorio:hover ul {
    display:block;
    position:absolute;
    top:260px;
    left:77px;
    background-color:transparent;
    background-image:url(../figuras/menu/fundoSubMenuRegioes.png);
    background-repeat:repeat-y;
    margin:15px 0px 0px 10px;
    border:0px;
    padding:8px 0px 8px 10px;
}

#menu ul li:hover ul li{
    display:inline;
    margin:0px;
    border:0px;
    padding:0px;
}

#menu ul li:hover ul li a{
    float:left;
    display:inline;
    margin:0px 3px 0px 3px;
    border:0px;
    padding:0px;
}

.APs a{
    background-image:url(../figuras/menu/APs.png);
    background-repeat:no-repeat;
}

.adicionarAP a:link, .adicionarAP a:visited{
    background-image:url(../figuras/menu/adicionarAP.png);
    background-repeat:no-repeat;
}

.adicionarAP a:hover, .adicionarAP a:active{
    background-image:url(../figuras/menu/adicionarAPhover.png);
    background-repeat:no-repeat;
}

.visualizarAPs a:link, .visualizarAPs a:visited{
    background-image:url(../figuras/menu/visualizarAPs.png);
    background-repeat:no-repeat;
}

.visualizarAPs a:hover, .visualizarAPs a:active{
    background-image:url(../figuras/menu/visualizarAPshover.png);
    background-repeat:no-repeat;
}

.editarAPs a:link, .editarAPs a:visited{
    background-image:url(../figuras/menu/editarAPs.png);
    background-repeat:no-repeat;
}

.editarAPs a:hover, .editarAPs a:active{
    background-image:url(../figuras/menu/editarAPshover.png);
    background-repeat:no-repeat;
}

.regioes a:link, .regioes a:visited{
    background-image:url(../figuras/menu/regioes.png);
    background-repeat:no-repeat;
}

.adicionarRegiao a:link, .adicionarRegiao a:visited{
    background-image:url(../figuras/menu/adicionarRegiao.png);
    background-repeat:no-repeat;
}

.adicionarRegiao a:hover, .adicionarRegiao a:active{
    background-image:url(../figuras/menu/adicionarRegiaohover.png);
    background-repeat:no-repeat;
}

.excluirRegiao a:link, .excluirRegiao a:visited{
    background-image:url(../figuras/menu/excluirRegiao.png);
    background-repeat:no-repeat;
}

.excluirRegiao a:hover, .excluirRegiao a:active{
    background-image:url(../figuras/menu/excluirRegiaohover.png);
    background-repeat:no-repeat;
}

.comandos a:link, .comandos a:visited{
    background-image:url(../figuras/menu/comandos.png);
    background-repeat:no-repeat;
}

.comandos a:hover, .comandos a:active{
    background-image:url(../figuras/menu/comandoshover.png);
    background-repeat:no-repeat;
}

.configurar a:link, .configurar a:visited{
    background-image:url(../figuras/menu/configurar.png);
    background-repeat:no-repeat;
}

.configurar a:hover, .configurar a:active{
    background-image:url(../figuras/menu/configurarhover.png);
    background-repeat:no-repeat;
}

.mrtg a:link, .mrtg a:visited{
    background-image:url(../figuras/menu/estatistica.png);
    background-repeat:no-repeat;
}

.mrtg a:hover, .mrtg a:active{
    background-image:url(../figuras/menu/estatisticahover.png);
    background-repeat:no-repeat;
}

.relatorio a{
    background-image:url(../figuras/menu/relatorios.png);
    background-repeat:no-repeat;
}

.relNumUsuario a:link, .relNumUsuario a:visited{
    background-image:url(../figuras/menu/numclientes.png);
    background-repeat:no-repeat;
}

.relNumUsuario a:hover, .relNumUsuario a:active{
    background-image:url(../figuras/menu/numclienteshover.png);
    background-repeat:no-repeat;
}

.relTrafego a:link, .relTrafego a:visited{
    background-image:url(../figuras/menu/throughput.png);
    background-repeat:no-repeat;
}

.relTrafego a:hover, .relTrafego a:active{
    background-image:url(../figuras/menu/throughputhover.png);
    background-repeat:no-repeat;
}
/*------------END MENU-----------------*/

/*-------------RODAPE------------------*/

#rodape{
    height:100px;
    background-image: url(../figuras/fundoRodape.png);
    background-repeat:repeat-y;
    background-color:#22375d;
    background-position:center;
    border-top: #bfc6d3 solid 7px;
    clear: both;
}

#rodape ul {
    margin: 0 auto;
    width: 625px;
    list-style: none;
    height:100px;
    border:0px;
    padding:0px;
}

#rodape li {
    float:left;
    margin-right:0px;
    margin-left:20px;
}

#rodape a{
    border:0px;
    display:block;
    background-repeat:no-repeat;
    background-position:center;
    background-repeat:no-repeat;
    height:100px;
}

.uff a{
    background-image:url(../figuras/logos/uff.png);
    width:61px;
}

.midiacom a{
    background-image:url(../figuras/logos/midiacom.png);
    width:120px;
}

.computacao a{
    background-image:url(../figuras/logos/computacao.png);
    width:110px;
}

.engenharia a{
    background-image:url(../figuras/logos/engenharia.png);
    width:91px;
}

.rnp a{
    background-image:url(../figuras/logos/rnp.png);
    width:116px;
}

/*-------------END RODAPE------------------*/

/*-------------------LOGIN------------------------------*/
#login td.inputTexto {
    text-align: right;
}

#login td.linhabotoes {
    padding-bottom: 20px;
    text-align: right;
}

#login td.linhabotoes2 {
    padding-bottom: 30px;
    text-align: center;
}

#login{
    width: 415px;
    padding:  15px 0px 70px 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#login table{
    width: 415px;
    background-image:url(../figuras/fundoLogin.png);
    background-repeat: repeat-y;
    border: 1px solid #13236c;
    border-spacing: 0px;
    border-collapse: collapse;
}

#login table th {
    color: #fff;
    padding: 20px;
    background-color: #13236c;
}

#login table td {
    padding: 20px 20px 0px 20px;
    color: #13236c;
    border: 0px;
}

#login input.texto {
    background:#ffffff; 
    border: 1px solid #13236c;
    width: 200px;  
    height: 20px;
}

#login .botao {
    background:#ffffff;
    color:#13236c; 
    border:1px solid #13236c; 
    width: 80px;
    cursor: pointer;
    height: 26px;
    vertical-align: middle;
}

#login .botao:hover {
    background:#8996d3;
    color:#ffffff; 
    border:1px solid #13236c; 
    width: 80px;
    cursor: pointer;
    height: 26px;
    vertical-align: middle;
}

#login .loginInvalido{
    text-align: center;
    padding: 30px 50px 10px 50px;
}

#login .linhabotoes2 a{
    padding: 5px;
    text-decoration: none;        
}

/*-------------------END LOGIN------------------------------*/


/*-----------------------COMANDOS------------------------------*/

.tableComando{
    border: 0px;
    background-color: transparent;    
}

.divComando{
    width: 200px;
    border: 0px;
    margin: 10px;
    padding: 0px;
    float: left;
}
.tableComando td{
    border: 0px;
    padding: 0px;
    background-color: transparent;
    line-height: 15px;
}

.divComando input{
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 0px;
    border: 0px;
    margin: 5px 5px 5px 5px;
    background-color: transparent;
}

.formComandos{
    border: 1px solid #22375d;
    background-color:#e1e2ea;  
    float: left;
}

.reiniciarControlador{
    background-image: url(../figuras/comandos/reiniciarControlador.png);
    background-repeat: no-repeat;
}
.reiniciarControlador:hover{
    background-image: url(../figuras/comandos/reiniciarControladorhover.png);
    background-repeat: no-repeat;
}
.reiniciarTemporizadores{
    background-image: url(../figuras/comandos/reiniciarTemporizadores.png);
    background-repeat: no-repeat;
}
.reiniciarTemporizadores:hover{
    background-image: url(../figuras/comandos/reiniciarTemporizadoresrhover.png);
    background-repeat: no-repeat;
}
.selecaoCanal{
    background-image: url(../figuras/comandos/selecaoCanal.png);
    background-repeat: no-repeat;
}
.selecaoCanal:hover{
    background-image: url(../figuras/comandos/selecaoCanalhover.png);
    background-repeat: no-repeat;
}
.controlePotencia{
    background-image: url(../figuras/comandos/controlePotencia.png);
    background-repeat: no-repeat;    
}
.controlePotencia:hover{
    background-image: url(../figuras/comandos/controlePotenciahover.png);
    background-repeat: no-repeat;    
}
.scan{
    background-image: url(../figuras/comandos/scan.png);
    background-repeat: no-repeat;      
}
.scan:hover{
    background-image: url(../figuras/comandos/scanhover.png);
    background-repeat: no-repeat;      
}
.coletaUsuarios{
    background-image: url(../figuras/comandos/usuarios.png);
    background-repeat: no-repeat;
}
.coletaUsuarios:hover{
    background-image: url(../figuras/comandos/usuarioshover.png);
    background-repeat: no-repeat;
}
.reiniciarAPs{
    background-image: url(../figuras/comandos/reiniciarAPs.png);
    background-repeat: no-repeat;    
}
.reiniciarAPs:hover{
    background-image: url(../figuras/comandos/reiniciarAPshover.png);
    background-repeat: no-repeat;    
}
.analiseAPs{
    background-image: url(../figuras/comandos/analiseAPs.png);
    background-repeat: no-repeat;   
}
.analiseAPs:hover{
    background-image: url(../figuras/comandos/analiseAPshover.png);
    background-repeat: no-repeat;   
}

/*-------------------END COMANDOS------------------------------*/

/*-------------VISUALIZAR APS--------------*/

.enabled
{
    background-color:#e1e2ea;
}
.disabled
{
    background-color:#8996ac;
}
.unreachable
{
    background-color:#F4A460;
}
.habilitar{
    background-image: url(../figuras/desabilitado.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border: 0px;
    padding: 0px;
    margin: 1px;
    cursor: pointer;
}

.desabilitar{
    background-image: url(../figuras/habilitado.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border: 0px;
    padding: 0px;
    margin: 1px;
    cursor: pointer;
}

.reiniciar{
    background-image: url(../figuras/reiniciar.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border: 0px;
    padding: 0px;
    margin: 1px;
    cursor: pointer;
}
.reiniciar:hover{
    background-image: url(../figuras/reiniciarhover.png);
}

.reiniciar_desabilitado {
    background-image: url(../figuras/reiniciar_desabilitado.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border: 0px;
    padding: 0px;
    margin: 1px;
    cursor: default;
}

.remover{
    background-image: url(../figuras/remover.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border: 0px;
    padding: 0px;
    margin: 1px;
    cursor: pointer;
}
.remover:hover{
    background-image: url(../figuras/removerhover.png);
}

.visualizarScan{
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    width:54px;
    height:54px;
}

.visualizarScan ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width:54px;
    height:54px;
}

.visualizarScan li{
    float: left;
    margin: 0px;  
    padding: 0px;
    border: 0px;
}

.visualizarScan a{
    width:54px;
    height:54px;
    border: 0px;
    display: block;
    background-image:url(../figuras/scan.png);
    background-repeat:no-repeat;
    background-position: center;
}

.visualizarScan a:hover{
    background-image:url(../figuras/scanhover.png);   
    background-repeat:no-repeat;
    background-position: center;

}

#tab_aps {
    margin-bottom: 10px;
}

/*-------------FIM VISUALIZAR APS--------------*/

/*-------------EDITAR APS---------------------*/

.underload input, .overload input{
    width: 40px;
}

/*------------- FIM EDITAR APS---------------------*/

/*--------------EDITAR PARAMETROS CONTROLADOR------------------*/

.longOutputText
{    
    word-wrap: break-word;

}

/*--------------FIM EDITAR PARAMETROS CONTROLADOR------------------*/




/*------------SCAN INFO------------------------*/
.highlight
{
    background-color:#BEFF1C;
}
/*------------FIM SCAN INFO------------------------*/


/*-------------------- SPLASH ------------------------- */

.full { /*status de carga*/
    background-color:#FF7074;
    padding: 5px;      
    direction: ltr;
    empty-cells: show;
}

.low { /*status de carga*/
    background-color:#BEFF1C;
    padding: 5px;      
    direction: ltr;
    empty-cells: show;
}

.normal { /*status de carga*/
    background-color:#FAFFC6;
    padding: 5px;      
    direction: ltr;
    empty-cells: show;
}

.locationtext {
    font-size: large;
    padding: 5px;      
    direction: ltr;
    empty-cells: show;
}

.rodape {
    text-align: center;
}

.tabela {
    width: 100%;
}

.td { /* colunas da tabela */
    text-align: center;
    border:1px solid #22375d;
}

.bodySplash{
    background-color: #fff;
    background-image: none;
}

#dateOne, #dateTwo {
    width: 100px;    
}

#txtDayRel {
    width: 100px;
}

#tableSearch .optionsSearches {
    margin-right: 5px;
}

/* -------------------- FIM DO SPLASH ------------------- */