###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    nagiosadmin		; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Nagios Admin		; Full name of user

#        email                           nagios@localhost	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        email                           nagios@midiacom.uff.br	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    Fernando             ; Short name of user
        use                             generic-contact         ; Inherit default values from generic-contact template (defined above)
        alias                           Fernando Silveira            ; Full name of user
        email                           fernandosilveira060@gmail.com  ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    Cosme             ; Short name of user
        use                             generic-contact         ; Inherit default values from generic-contact template (defined above)
        alias                           Cosme Correa            ; Full name of user
        email                           cosmefc@id.uff.br  ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }



#define contact {
#                contact_name                          Cosme 
#                alias                                 Cosme Correa
#                host_notification_options             d,r
#                service_notification_options          c,r
#                email                                 cosmefc@id.uff.br
#                pager                                 552192195949
#                host_notification_period              nonworkhours
#                service_notification_period           nonworkhours
#                host_notification_commands            notify-host-by-email
#                host_notification_commands            notify-host-by-email,notify-host-by-sms
#                service_notification_commands         notify-service-by-email
#                service_notification_commands         notify-service-by-email,notify-service-by-sms
#}

define contact {
                contact_name                          Daniel
                alias                                 Fefer
                host_notification_options             d,r
                service_notification_options          c,r
                email                                 fefer@outlook.com
                pager                                 552184601800
                host_notification_period              nonworkhours
                service_notification_period           nonworkhours
                host_notification_commands            notify-host-by-email
#                host_notification_commands            notify-host-by-email,notify-host-by-sms
                service_notification_commands         notify-service-by-email
#                service_notification_commands         notify-service-by-email,notify-service-by-sms
}

#define contact {
#                contact_name                          Fernando
#                alias                                 Fernando Silveira
#		use 				      generic-contact
#		contactgroups			      Gestores
#               host_notification_options             d,r
#               service_notification_options          c,r
#		service_notification_options	      u,c,r
#        	host_notification_options 	      d,u,r 
#                email                                 fsilveira@midiacom.uff.br,fernandosilveira060@gmail.com
#                pager                                 552183422206
#                host_notification_commands            notify-host-by-email
#                host_notification_commands            notify-host-by-email,notify-host-by-sms
#                service_notification_commands         notify-service-by-email
#                service_notification_commands         notify-service-by-email,notify-service-by-sms
#	Linhas abaixo Acrescentadas pelo estagiario
#                service_notification_period           nonworkhours
#                host_notification_period              nonworkhours
#		host_notification_period              24x7
#		service_notification_period           24x7
#}

define contact {
                contact_name                          Helga
                alias                                 Helga Balbi
                host_notification_options             d,r
                service_notification_options          c,r
                email                                 helgadb@midiacom.uff.br
                pager                                 552182163323
                host_notification_period              nonworkhours
                service_notification_period           nonworkhours
#                host_notification_commands            notify-host-by-email,notify-host-by-sms
                host_notification_commands            notify-host-by-email
#                service_notification_commands         notify-service-by-email,notify-service-by-sms
                service_notification_commands         notify-service-by-email
}

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin, Fernando
        }

define contactgroup {
                contactgroup_name                     Gestores 
                alias                                 Gestores
                members                               Cosme,Helga,Fernando
}
#me inclui no grupo dos Gestores!
